:root {
  --ff-primary {
    font-family: "Exo", sans-serif;
  }
}

body {
  font-family: "Exo", sans-serif !important;
}
.logo-img {
    width: 60% !important;
}

.other,
.talk {
  margin-left: -0.8rem;
  z-index: -1000 !important;
}

.talk:active,
.talk:hover,
.talk:focus,
.toggle-bar:active,
.toggle-bar:hover,
.toggle-bar:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #f5f2f2 !important;
}

.peacegirl {
  width: 3.5rem;
  margin-bottom: -.3rem;
}

.resume {
  width: 1.2rem;
  margin-right: 0.2rem;
}

.purple {
  color: #9747ff;
}

.outliner:active,
.outliner:focus {
  box-shadow: none !important;
  border: 2px solid black !important;
  
}

.shadow-effect {
  border: 1.4px solid #D9D9D9;
}

.customer-profile {
  margin-top: -5rem;
}

  .carousel-np {
    display: flex;
    justify-content: center;
    margin-top: 28rem;
    height: 5rem !important;
    padding: 0 2rem;
  }

  .carousel-np .carousel-control-prev,
  .carousel-np .carousel-control-next {
    position: relative;
    margin: 0 1rem;
    width: 100%;
  }
  .carousel-indicators {
    margin-top: 1rem !important;
    
  }

  .cprofile {
    width: 6rem;
    height: 6rem;
  }


  @media (max-width: 768px) {
    .carousel-np {
      margin-top: 30rem;
    }

    .faiza-img {
      width: 100%;
      height: 100%;
    }

    p.other, #resume, span.others {
      font-size: small !important;
    }

    p.fs-small {
      font-size: medium !important;
    }
  }